* {
   margin: 0px;
   padding: 0px;
   color: black;
   font-family: mrs-eaves, serif;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
}

body {
  background-color: white;
  overflow: hidden;
}

h1 {
  color: blue;
}
p {
  color: black;
  font-family: mrs-eaves, serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;

}

button {
  transition-duration: 0.2s;
  font-family: mrs-eaves, serif;
  font-style: italic;
  font-size: 20px;
  padding: 10px 32px;
  border-radius: 12px;
  border: 0px;
}

button:hover {
  background-color: #292929; /* Green */
  color: white;
}

input[type=text] {
  border: none;
  border-radius: 15px;
  background-color: black;
  padding-left: 10px;
  color: white;
}
...
